// STYLE FOR GALLERY INFORMATIONS

.container
{
    .gallery-info
    {
        .back
        {
            display: flex;
            align-items: center;

            i { padding-right: 10px; }
        }
        .gallery-title
        {
            text-align: right;
        }
        .gallery-views
        {
            display: flex;
            align-items: flex-end;
            margin-bottom: 2em;

            select
            {
                border-bottom: solid thin $main-color;
                height: 20px;
                margin: 0 10px;
                cursor: pointer;
                appearance : menulist;
            }
            p
            {
                font-size: 12px;
                font-weight: 600;
            }
        }
    }

// STYLE FOR CONTAINER-IMAGES

    .container-image
    {
        .image-card
        {
            margin : 0 auto 10em auto;
            width: 70%;

            .image
            {
                padding: 2em 0;

                img
                {
                    width: 100%;
                    height: auto;
                }
            }
        }
    }
}
