.home-title
{
    height: 30px;
}

.container-home
{
    width : 100%;
    height : 100%;
    transition : transform 1s ease-in-out;

    &.anim-container
    {
        transform : translateY(-100%);
    }

    .landing-page
    {
        width : 100vw;
        height : 100vh;

        .rover
        {
            position: absolute;
            bottom: 0;
            left: 5%;
            animation: anim-rover 1s 1;

            img
            {
                width: 50vw;
            }
        }
        @keyframes anim-rover
        {
            0%
            {
                left: -50%;
            }
            100%
            {
                left: 5%;
            }
        }

        .introduce
        {
            max-width: 50%;
            position: absolute;
            right: 10%;
            top: 20%;
            animation: anim-text 1s 1;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            height: 30%;

            .introduce-content
            {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                height: 40%;
            }
        }
        @keyframes anim-text
        {
            0%
            {
                right: -50%;
            }
            100%
            {
                right: 10%;
            }
        }
    }

    .learn-curiosity
    {
        width : 100vw;
        padding: 40px;
        display: none;

        &.curiosity-container
        {
            height: 100%;
        }

        .curiosity-first
        {
            display: flex;

            .curiosity-content
            {
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                margin: 40px;
            }

            .curiosity-img
            {
                height: 60vh;

                img
                {
                    width: auto;
                    height: 100%;
                }
            }
        }
        .curiosity-start
        {
            height: 30%;
            justify-content: space-between;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: auto;
            will-change : transform;

            &.anim-start
            {
                transform: translateY(100%);
                animation: anim-start 0.7s cubic-bezier(0.42, 0, 0.5, 1.15) 1;
                animation-delay: 1.2s;
                animation-fill-mode: forwards;
            }

            @keyframes anim-start
            {
                0%
                {
                    transform: translateY(100%);
                }

                100%
                {
                    transform: translateY(0%);
                }
            }
            p
            {
                margin: auto;
            }
        }
    }
}
